body {
    font-family: "Open Sans",
    sans-serif;
    background: rgb(214,116,114);
}

nav {
    display: inline-block;
    width: 675px;
}
nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

main article.first {
    background: url(header-flower.jpg);
}

li {
    display: inline-block;
}

a {
    text-align: center;
    text-decoration: none;
}

hr {
    width: 60px;
    height: 2px;
}

.hw {
    display: inline-block;
}