body {
    font-family: "Helvetica",
    sans-serif;
    font-size: 20px;
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    padding-top: 210px;
    background: #FAEBC8;
}

section {
    background: white;
    box-shadow: 1px 1px 10px 0px red;
    background-size: cover;
    padding-top: 80px;
    border-radius: 25px;
}

article {
    width: 270px;
    display: inline-block;
    padding: 30px 60px;
}

h2 {
	text-align: center;
}

img {
    width: 30%;
    margin: auto;
    display: block;
}
p.author {
    font-style: italic;
    font-weight: bold;
    color: rgb(175, 62, 62);
    text-shadow:10px 20px 3px#817777 ;
}